DB_USERNAME=database_name
DB_PASSWORD=replace_with_a_local_development_password

APP_PORT=8080
APP_IMAGE_NAME=securebank-api:local

JWT_SECRET=a_very_long_and_secure_random_jwt_secret_key_32_bytes
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

SPRING_JPA_SHOW_SQL=false
